.category {
    color: white;
    font-family: 'Fira Sans', sans-serif;  
}

.category1 {
    color: rgb(201, 63, 63);
    font-family: 'Fira Sans', sans-serif;
}

.category2 {
    color: rgb(67, 67, 172);
    font-family: 'Fira Sans', sans-serif;
}

.category3 {
    color: rgb(175, 208, 108);
    font-family: 'Fira Sans', sans-serif;
}

.AddTask {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

.TaskName {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

.TaskDetail {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

.date {
    color: grey;
    font-family: 'Fira Sans', sans-serif;
}

.location {
    color: grey;
    font-family: 'Fira Sans', sans-serif;
}

.description {
    color: grey;
    font-family: 'Fira Sans', sans-serif;
}

.repeat {
    color: grey;
    font-family: 'Fira Sans', sans-serif;
}

.CreateNewTask {
    color: grey;
    font-family: 'Fira Sans', sans-serif;
}

.create {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
    cursor: pointer;
}

.create:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.t {
    color: white;
}

.d {
    background-color: #24262d;
    border-style: solid;
    border-color: grey;
}

.material-symbols-outlined {
    color: rgb(82, 85, 88);
}

body {
    background-color: rgb(29, 29, 32);
}

.ATaskManager {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

.material-symbols-outlined:hover {
    color: white;
}

.Task {
    color: grey;
    font-family: 'Fira Sans', sans-serif;
}

.r {
    background-color: #24262d;
    border-style: solid;
    border-color: grey;
}

.form-check-label {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

.card1 {
    border: white;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card1:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card2 {
    border: white;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card2:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card3 {
    border: white;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card3:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.form-control {
    background-color: rgb(189, 193, 204);
    font-family: 'Fira Sans', sans-serif;
}

.one {
    background-color: rgba(68, 68, 217, 0.25);box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
    cursor: pointer;
}

.one:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.two {
    background-color: rgba(0, 255, 0, 0.25);box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
    cursor: pointer;
}

.two:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.three {
    background-color: rgba(255, 221, 0, 0.25);box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
    cursor: pointer;
}

.three:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.android {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(68, 68, 217);
}

.ios {
    font-family: 'Fira Sans', sans-serif;
    color: green;
}

.swift {
    font-family: 'Fira Sans', sans-serif;
    color: yellow;
}

.link {
    text-decoration: none;
}

.c {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

.priority {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}